<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>luxury-collecting.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E01CE47A2EC3052000919325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E01CE4882EC3052100919325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E01CE4922EC3052100919325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
